# vs2017 ignore
*.vcxproj.user
GeneratedFiles/
x64/
.vs/

# qtcreator ignore
build-*/
*.pro.user

# ros
build/
install/
log/
devel/

# cmake
CMakeLists.txt.user

# qtcreator ros plugin
.catkin_workspace
*.workspace.user
