<launch> 
  <arg name="model" default="$(find ros_gazebo_learn)/urdf/robot3.urdf.xacro"/> 
  <arg name="rviz_config" default="$(find urdf_tutorial)/rviz/urdf.rviz"/> 
  <arg name="use_gui" default="True"/> 

  <!-- rosparam --> 
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/> 

  <!-- joint state publisher --> 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 

  <!-- gazebo --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
  </include> 

  <!-- spawn model --> 
  <node name="robot_gazebo_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model rbo -param robot_description"> 
  </node> 

  <!-- load controller yaml --> 
  <rosparam command="load" file="$(find ros_gazebo_learn)/config/joints.yaml"/> 

  <!-- controller manager --> 
  <node name="controller_manager" pkg="controller_manager" type="spawner" ns="/" args="joint_state_controller mobile_base_controller"/> 

  <!-- rviz --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" /> 

</launch>
